body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
  }

  h1 {
    margin-bottom: 1rem;
  }

  /* Contenedor de la cámara, inicialmente oculto */
  #qr-reader {
    display: none;
    margin: 0 auto 1rem auto;
    border: 2px solid #ccc;
    padding: 10px;
    width: 300px;
    height: auto;
    box-sizing: border-box;
  }

  .btn-scan {
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid #003865;
    background-color: #003865;
    color: #ffffff;
    padding: 15px 70px;
    margin: 5px;
    cursor: pointer;
}

  /* Botón de detener, inicialmente oculto */
  #btn-stop {
    display: none;
  }

  /* Modal */
  .modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1; /* sobre el contenido */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    overflow: hidden;
  }

  .modal-content {
     /* Ubicado en la parte baja de la pantalla */
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     /* Altura ajustable según prefieras */
     max-height: 80%;
     background-color: #fff;
     border-radius: 12px 12px 0 0;
     padding: 20px;
     box-sizing: border-box;
     /* Animación para deslizar desde abajo */
     animation: slideUp 0.3s ease-out;
  }


  /* Animación de entrada */
  @keyframes slideUp {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateY(0);
    }
  }

  .close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #999;
    cursor: pointer;
  }

  .close:hover {
    color: #333;
  }


  /* Contenido dentro del modal */
  .modal-header {
    margin-bottom: 1rem;
  }
  .modal-header h2 {
    margin: 0;
  }
  .modal-body {
    overflow-y: auto; /* por si se genera contenido extenso */
    max-height: calc(80vh - 60px); /* Ajuste para no tapar el título y el cierre */
  }

  #qr-link {
    color: blue;
    text-decoration: underline;
    word-wrap: break-word; 
  }

   /* -- Ajustes responsivos -- */
   @media (max-width: 768px) {
    #qr-reader {
      width: 90%;
    }
  }